/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background: #fc4a1a;
  background: -webkit-gradient(linear, left top, right top, from(rgba(247, 183, 51, .8)), to(rgba(252, 74, 26, .8)));
  background: linear-gradient(to right, rgba(247, 183, 51, .8), rgba(252, 74, 26, .8));
}

.container {
  max-width: 75vw;
  min-height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.container .row {
  padding-bottom: 16px;
}

.container .img-container img {
  display: block;
  max-width: 100%;
  width: 200px;
  margin: auto;
}

.container .description-container {
  padding: 16px;
}

.container .description-container p {
  color: white;
  text-align: justify;
  font-family: 'roboto';
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.35em;
  letter-spacing: 2px;
}

.container .store-links {
  display: block;
  width: 100%;
}

img {
  max-width: 100%;
  display: block;
}

footer {
  text-align: center;
  color: white;
  font-family: 'roboto';
  padding-bottom: 16px;
}

footer small {
  font-weight: 200;
}

.apple-link {
  width: 20%;
}

.google-link {
  width: 21.5%;
}

@media all and (max-width: 420px) {
  .apple-link {
    width: 40%;
  }

  .google-link {
    width: 45%;
  }
}
